extend layout 

block layout-content 
    .container.d-flex.flex-row.justify-content-between.align-items-center.mt-2
        h1.text-center #{title} 
        a.btn.btn-primary(href="/project/add") Add Project
    div.container-fluid
        table.table.table-striped.my-3(style="table-layout: fixed; width: 100%;")
            thead
                tr.table-dark.fs-6.text-center
                    th(style="width: 15%;") Image
                    th(style="width: 10%;") Project Name
                    th(style="width: 20%;") Description
                    th(style="width: 10%;") Tag
                    th(style="width: 13%;") Project Link
                    th(style="width: 13%;") Repo Link
                    th(style="width: 9%;") Created
                    th(style="width: 10%;") Operation
            tbody  
                each proj in myProj
                    tr.smallfont
                        td
                            img.rounded(src=`/img/${proj.Img}` style="max-width: 100%; height: auto;")
                        td #{proj.ProjectName}
                        td #{proj.Desc} 
                        td
                            each tag in proj.Tags
                                span.badge.me-1(style=`background:${tag.Color};`) #{tag.TagName}
                        td #{proj.Link}
                        td #{proj.Repo}
                        td #{proj.CreatedDateFormatted}
                        td.text-center
                            div.d-flex.flex-column.p-1.justify-content-center
                                a.btn.btn-info.btn-sm.w-100.mb-1(href=proj.Link) View
                                form(action="/project/edit") 
                                    input(type="hidden", name="projId", value=proj._id) 
                                    button.btn.btn-warning.btn-sm.w-100.mb-1(type="submit") Edit
                                form(method="get", action="/project/delete")
                                    input(type="hidden", name="projId", value=proj._id)
                                    button.btn.btn-danger.btn-sm.w-100(type="submit") Delete



